EXT_PACKAGES_NAME[1]="luci-app-netdata"
EXT_PACKAGES_PATH[1]="applications/luci-app-netdata"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCHE[1]=""
EXT_PACKAGES_NAME[2]="ipv6-helper"
EXT_PACKAGES_PATH[2]="package/lean/ipv6-helper"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCHE[2]=""
EXT_PACKAGES_NAME[3]="ddns-scripts_dnspod"
EXT_PACKAGES_PATH[3]="package/lean/ddns-scripts_dnspod"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCHE[3]=""
EXT_PACKAGES_NAME[4]="shortcut-fe"
EXT_PACKAGES_PATH[4]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCHE[4]="package"
EXT_PACKAGES_NAME[5]="luci-app-rclone"
EXT_PACKAGES_PATH[5]="applications/luci-app-rclone"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCHE[5]=""
EXT_PACKAGES_NAME[6]="luci-app-passwall"
EXT_PACKAGES_PATH[6]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCHE[6]="luci"
EXT_PACKAGES_NAME[7]="openwrt-passwall"
EXT_PACKAGES_PATH[7]=""
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCHE[7]="packages"
EXT_PACKAGES_NAME[8]="passwall2"
EXT_PACKAGES_PATH[8]="luci-app-passwall2"
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/xiaorouji/openwrt-passwall2"
EXT_PACKAGES_BRANCHE[8]=""
EXT_PACKAGES_NAME[9]="nft-fullcone"
EXT_PACKAGES_PATH[9]=""
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCHE[9]=""
EXT_PACKAGES_NAME[10]="luci-app-turboacc"
EXT_PACKAGES_PATH[10]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCHE[10]=""
EXT_PACKAGES_NAME[11]="luci-app-adguardhome"
EXT_PACKAGES_PATH[11]=""
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/rufengsuixing/luci-app-adguardhome"
EXT_PACKAGES_BRANCHE[11]=""
EXT_PACKAGES_NAME[12]="luci-app-argon-config"
EXT_PACKAGES_PATH[12]=""
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCHE[12]=""
EXT_PACKAGES_NAME[13]="luci-app-diskman"
EXT_PACKAGES_PATH[13]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCHE[13]=""
EXT_PACKAGES_NAME[14]="luci-app-netspeedtest"
EXT_PACKAGES_PATH[14]=""
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/sirpdboy/NetSpeedTest"
EXT_PACKAGES_BRANCHE[14]=""
EXT_PACKAGES_NAME[15]="luci-app-wechatpush"
EXT_PACKAGES_PATH[15]=""
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/tty228/luci-app-wechatpush"
EXT_PACKAGES_BRANCHE[15]=""
EXT_PACKAGES_NAME[16]="luci-theme-argon"
EXT_PACKAGES_PATH[16]=""
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCHE[16]=""
EXT_PACKAGES_NAME[17]="luci-app-socat"
EXT_PACKAGES_PATH[17]="luci-app-socat"
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/chenmozhijin/luci-app-socat"
EXT_PACKAGES_BRANCHE[17]=""
EXT_PACKAGES_NAME[18]="luci-app-openclash"
EXT_PACKAGES_PATH[18]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[18]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCHE[18]=""
